@mixin slide-color-box(){
    width: 100vw;
    float: left;
}
.slide-container{
    width: 300vw;
    transition: all 1s;
   transform: translateX(0vw);
}
.slide-card-bg{
  @include slide-color-box();
}
.slide-card-bg img{
    width: 100%;
}
.btn-container{
    text-align: center;
    margin: 10px;
}
